# registry = http://ro-soft2-srv.ger.muehlbauer.de:8082/nexus/repository/npm-all
# _auth = amVua2luczpjaV9qZW5raW5z   ;our pass for downloading packages

# ; force auth to be used for GET requests
# always-auth = true

# ; we don't want to put certificates in .npmrc
# strict-ssl = false